{% extends "base.html" %}

{% block content %}

    <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Leadership</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/teams/baha2.jpeg' %}" alt="ceo">
                <h3 class="block-38-heading">Mohamed Ahmed</h3>
                <p class="block-38-subheading">CEO</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/teams/nadia.jpeg' %}"
                     alt="president">
                <h3 class="block-38-heading">Nadia Abdi</h3>
                <p class="block-38-subheading">President</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/teams/farhan.jpeg' %}"
                     alt="Operation manager">
                <h3 class="block-38-heading">Farhan Alii</h3>
                <p class="block-38-subheading">Operational Manager</p>
              </div>
              <div class="block-38-body">
                <p>Management of operation processes, embracing design,
                    planning, control, performance improvement and operations
                    strategy.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/teams/iamfeysal3.jpg' %}" alt="CTO">
                <h3 class="block-38-heading">Feisal Ibrahim</h3>
                <p class="block-38-subheading">Engineering Lead</p>
              </div>
              <div class="block-38-body">
                <p>Responsible for the overall planning, execution,
                    maintenance and success of the organizations software.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}
